body {
  background-color: #fff;
  color: black;
  font-family: "Raleway", Helvetica, sans-serif;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;

  margin-bottom: 20px;
}

.clr {
  clear: none;
}

#logo {
  border: 3px solid black;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  margin-left: 60px;
  margin-bottom: 20px;
  font-size: 25px;
}

#navbar {
  margin: 0;
  float: right;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline-block;
  margin-left: 20px;
}

#navbar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

/* secondpart */
.second-top {
  display: flex;
  justify-content: space-evenly;
}
.info {
  width: 40%;
  color: black;
}
.contact {
  width: 30%;
}
.photo {
  border-radius: 50%;
}
button {
  border-radius: 10px;
  background-color: rgb(236, 24, 24);
  font-size: 1.3em;
  color: white;
}
.items:hover .item {
  transform: scale(1.3);
  transition: transform 2s ease-in-out;
}
.second-top:hover .photo {
  transform: scale(2s);
  transition: transform 2s ease-in-out;
}

span {
  margin-left: 10px;
}
.logo-use {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid white;
  margin-left: 10px;
  margin-top: 100px;
  flex-wrap: wrap;
}
.logo img {
  padding-left: 50px;
  padding-right: 20px;
  margin-left: 0;
}
.align {
  float: right;
  margin-right: 230px;
  margin-top: -20px;
}
.additionl-part {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}
.Footer-part {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 15px;
  width: 100%;
  height: 150px;
  font-size: 14px;
}

footer a {
  list-style-type: none;
  display: inline-block;
  color: white;
  padding-right: 15px;
}
.items {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 170px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 15px;
  border-radius: 4px;
}
.item-title {
  margin-left: 10px;
}
.paragraph {
  margin-left: 8px;
}
.item {
  width: 280px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #faf9f6;
  border: 5px solid white;
}
.item-detail .item-title {
  padding-left: 3px;
}
.item .item-banner img {
  width: 260px;
  height: 150px;
  padding-left: 5px;
  border-radius: 8px;
  border: gray;
  padding-left: 9px;
  margin-top: 7px;
}
.heading {
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 4px;
}

.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}

/* Media Queries */
@media only screen and (max-width: 680px) {
  .container {
    width: 100%;
  }
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
  .item {
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

.month {
  padding: 40px 25px;
  width: 100%;
  background: rgb(97, 112, 97);
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 5px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.8%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white;
}

/* Add media queries for smaller screens */
@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12%;
  }
  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12%;
  }
}
